.container {
    margin-top: 2rem;
    height: 100vh;
    padding: 0 0.5rem;
    justify-content: center;
    align-items: center;
}

.assets {
    height: 100vh;
}

.number {
    color: #45b565;
}

.subtitle {
    font-weight: bold;
    text-transform: uppercase;
}

.noBorder {
    border: none;
    box-shadow: none;
}

.date {
    text-transform: uppercase;
}